<div class="container">
	<p>
    	<span class="title">Name of the Library:</span> <span class="detail">{{name}}</span>
    </p>
	<p>
    	<span class="title">Latest Version:</span> <span class="detail">{{version}}</span>
    </p>
  	<p>
    	<span class="title">Description:</span> <span class="detail">{{description}}</span>
    </p>
  	<p>
    	<span class="title">Homepage:</span> <span class="detail"><a href="{{homepage}}">{{homepage}}</a></span>
    </p>
  	<p>
    	<span class="title">Repository:</span> <span class="detail"><a href="{{repository}}">{{repository}}</a></span>
    </p>
  	<p>
    	<span class="title">License:</span> <span class="detail">{{license}}</span>
    </p>
  	<button (click)="goBack()">Go Back</button>
</div>